.large-button {
    position: relative;
    display: inline-grid;
    padding: 0 2em;
    font-size: 2rem;
    border-radius: 50%;
    aspect-ratio: 1;
    place-content: center;
    text-decoration: none;
    z-index: 1;

    

    

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: hsl(var(--clr-white) / .15);
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        

        transition: opacity 500ms linear, transform 750ms ease-in-out;
    }

    &:hover::after, &:focus::after {
        
        opacity: 1;
        transform: scale(1.5);
    }

}
