.large-button {
    position: relative;
    display: inline-grid;
    
    font-size: 2rem;
    padding: 0 1em;
    border-radius: 50%;
    aspect-ratio: 1;
    place-items: center;
    text-decoration: none;
    z-index: 1;

    

    @media (min-width: 45rem) {
        padding: 0 2em;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: hsl(var(--clr-white) / .15);
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        

        transition: opacity 500ms linear, transform 750ms ease-in-out;
    }

    &:hover::after, &:focus::after {
        
        opacity: 1;
        transform: scale(1.5);
    }

}


.mobile-nav-toggle {
    display: none;
    cursor: pointer;
    

    @media (max-width: 35rem) {
        
        display: block;
        position: absolute;
        z-index: 2000;
        width: 1.5rem;
        height: 1.5rem;
        top: 2rem;
        right: 1rem;
        background: transparent;
        background-image: url(./assets/hamburger-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        aspect-ratio: 1;
        border: 0;
    }
}
