body {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.home {
    background-image: url(./assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
    .home {
        background-image: url(./assets/home/background-home-tablet.jpg);
        background-position: center center;
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}