.primary-navigation {
    --underline-gap: 2rem 0;
    list-style: none;
    padding: 0;    
    margin: 0;
    background-color: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
    & a {
        text-decoration: none;
    }

    & a > span {
        font-weight: 700;
        margin-right: .5rem;
    }
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin-block: 1.5rem;
        margin-inline-start: 1rem;
        flex-direction: column;
        min-height: fit-content;
        border-radius: .7em 0 0 .7rem;;
        transform: translateX(120%);
        
    }
    
    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
        transition: 200ms ease-in-out;
    }

    .primary-navigation.underline-indicators > .active {
        border: 0;
    }
    
    .primary-navigation.underline-indicators > * {
        padding-inline: 0;
    }
}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem 0 );
    border: 0;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0);
    

    &:hover,
    &:focus {
        border-color: hsl(var(--clr-white) / .5);
    }
    
}

.underline-indicators > .active, 
.underline-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background-color: hsl(var(--clr-white) / .25);

    &:hover,
    &:focus {
        background-color: hsl(var(--clr-white) / .5);
    }

    &[aria-selected="true"] {
        background-color: hsl(var(--clr-white) / 1);
    }

}

.numbers-indicators > * {
    cursor: pointer;
    border: 2px solid hsl(var(--clr-white) / .25);
    border-radius: 50%;
    aspect-ratio: 1;
    
    /* width: 80px; */
    /* height: 80px; */
    padding-inline: .95em;
    padding-block: .50em;

    color: hsl(var(--clr-white) );
    font-weight: 400;

    transition: 400ms ease-in-out;
    

    &:hover,
    &:focus {
        border: 2px solid hsl(var(--clr-white) );
        color: hsl(var(--clr-white) );
    }

    &[aria-selected="true"] {
        
        background-color: hsl(var(--clr-white) );
        color: hsl(var(--clr-dark) );
        border: 2px solid hsl(var(--clr-white) );
    }
}